<h1>Giải phương trình bậc 2 </h1>
<form>
    <label>Nhập số A</label>/>
    <input name="soA" type="number" />
    <label>Nhập số B</label>/>
    <input name="soB" type="number" />
    <label>Nhập số C</label>/>
    <input name="soC" type="number" />
    <input type="submit" value="gửi"/>
    
</form>